html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #070a1b;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.header {}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__nav {}

.header__nav-img {}

.logo {}

.logo__img {}

.list {}

.list__item {}

.list__link {}

.list__img {}